<div style="height: 10%;"></div>
<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-header>
                <div class="header"></div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form [formGroup]="loginForm" novalidate fxLayout="column" fxLayoutAlign="center center">
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" fxFill="stretch">
                        <mat-icon>person</mat-icon>
                        <mat-form-field appearance="fill" fxFill="stretch">
                            <mat-label>Enter your Email address</mat-label>
                            <input matInput [type]="'text'" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" fxFill="stretch">
                        <mat-icon>vpn_key</mat-icon>
                        <mat-form-field appearance="fill" fxFill="stretch">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <mat-error>{{erreur}}</mat-error>
                    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="submit()">Sign in</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>