:host {
    .mat-card-header {
        width: 500px;
        height: 180px;
    }
}

.header {
    width: 532px;
    height: 170px;
    background-image: url('../../../../assets/images/bg-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 0px;
    position: absolute;
    top: 0;
    left: 0;
}