table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

:host {
    .mat-cell {
        cursor: pointer;
    }
    .mat-icon-button {
        vertical-align: baseline;
    }
}

td,
th {
    width: 25%;
}

li p {
    margin-left: 10px;
}