<div *ngIf="role=='user'">
    <h1 mat-dialog-title style="color: red;">You're not allowed</h1>
    <div mat-dialog-actions align="center">
        <button mat-button mat-dialog-close color="warn">Close</button>
    </div>
</div>
<div *ngIf="role=='admin' || role=='superadmin'">
    <h1 mat-dialog-title>You're allowed</h1>
    <div mat-dialog-content>
        <form></form>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Close</button>
        <button mat-raised-button mat-dialog-close color="warn">Delete</button>
        <button mat-raised-button mat-dialog-close color="primary">Update</button>
    </div>
</div>