<div *ngIf="role=='user'">
    <h1 mat-dialog-title style="color: red;">You're not allowed</h1>
    <div mat-dialog-actions align="center">
        <button mat-button mat-dialog-close color="warn">Close</button>
    </div>
</div>
<div *ngIf="role=='admin' || role=='superadmin'">
    <h1 mat-dialog-title>Update Machine</h1>
    <div mat-dialog-content>
        <form [formGroup]="machineForm" novalidate fxLayout="column" fxLayoutGap="10px">
            <mat-form-field>
                <mat-label>Ressource</mat-label>
                <input matInput formControlName="ressource">
                <mat-error *ngIf="machineForm.controls['ressource'].hasError('required')">This is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Machine Host</mat-label>
                <input matInput formControlName="server">
                <mat-error *ngIf="machineForm.controls['server'].hasError('required')">This is required.</mat-error>
                <mat-error *ngIf="machineForm.controls['server'].hasError('pattern')">You have entered an invalid IP address.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Operation</mat-label>
                <input matInput formControlName="operation">
                <mat-error *ngIf="machineForm.controls['operation'].hasError('required')">This is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mode Face Element/Sodure</mat-label>
                <mat-select formControlName="mode">
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                </mat-select>
                <mat-error *ngIf="machineForm.controls['mode'].hasError('required')">This is required.</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Close</button>
        <button mat-raised-button mat-dialog-close color="warn" [disabled]="role!=='superadmin'" (click)="delete()">Delete</button>
        <button mat-raised-button mat-dialog-close color="primary" [disabled]="machineForm.invalid || !machineForm.dirty" (click)="save()">Update</button>
    </div>
</div>