<h1 mat-dialog-title>New Line</h1>
<div mat-dialog-content>
    <form [formGroup]="lineForm" novalidate fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <mat-label>Line Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="lineForm.invalid" (click)="save()">Add</button>
</div>